.menu-container {
    display: flex;
    background-color: greenyellow;
    height:35px;
    width:56%
    
  }
  
  .main-menu {
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
  }
  
  .main-menu li {
    position: relative;
    padding: 10px 20px;
    cursor: pointer;
  }
  
  .main-menu a {
    text-decoration: none;
    color: #333;
  }
  
  .dropdown-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    padding: 0;
    margin: 0;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  }
  
  .main-menu li:hover .dropdown-menu {
    display: block;
  }
  
  .dropdown-menu li {
    padding: 10px 20px;
  }
  
  .dropdown-menu a {
    color: #333;
    text-decoration: none;
  }
  
  .dropdown-menu li:hover {
    background-color: #f0f0f0;
  }
  .dropdown-menu li:hover .sub-sub-menu {
    display: block;
    position: absolute;
    top: 0;
    left: 100%;
    min-width: 250px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  }
  
  .sub-sub-menu {
    display: none;
  }
  
  .sub-sub-menu li {
    padding: 10px;
  }
  
  .sub-sub-menu a {
    color: #333;
    text-decoration: none;
  }
  
  .sub-sub-menu li:hover {
    background-color: #f0f0f0;
  }